@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/sourcecodepro-regular.woff2") format("woff2");
}

html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  font-family: "Nunito", sans-serif;
}

pre {
  font-family: "SourceCodePro", monospace;
}

p {
  margin: 4px 0
}

input {
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  border: 2px solid #434453;
  padding: 0 8px;
  margin: 2px;
  height: 30px;
  min-width: 80px;
}